<div class="home-top-slide">
    <div id="carousel-example-generic-working" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" ng-repeat="working_lst_active in list_working_active" ng-click="goCategoriesPage(36)">
                <img src="{{working_lst_active.colors[0].images[1].src}}">
            </div>
            <div class="item" ng-repeat="working_lst in list_working" ng-click="goCategoriesPage(36)">
                <img src="{{working_lst.colors[0].images[1].src}}" ng-if="new_lst.colors[0].images[0].src">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic-working" role="button" data-slide="prev">
            <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
            <img src="assets/images/slide/left.png" class="btn-slide-control">
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic-working" role="button" data-slide="next">
            <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
            <img src="assets/images/slide/right.png" class="btn-slide-control btn-sto-right">
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>