<div class="register-page">
    <div class="container">
        <div class="link-web">
            <a href="#" class="link-home">Home &nbsp;/&nbsp; </a>
            <a href="" class="link-cate">Check Out</a>
        </div>
        <div class="top-product-title">
            <div class="line left-line">
            </div>
            <div class="title-line">
                Check Out
            </div>
        </div>
        <div class="form-checkout">
            <div class="title-bling">
                Billing Address
            </div>
            <div class="frm-register">
                <form role="form" class="frm-catalogues" ng-submit="register()">
                    <div class="categories-input-form">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                  <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group input-catalogues">
                                    <label>Country</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group input-catalogues">
                                    <input tabindex="1" class="form-control" name="country" type="text"
                                           ng-model="order.country" required>
                                </div>
                            </div>
                        </div>

                        <div class="btn-primary-pro">
                            <button type="submit" class="btn btn-pro-add btn-pro-add-cart">continue</button>
                        </div>
                        <div class="text-footer-signup">
                            Creating an account means you’re okay with AConcept's Terms of Service, Privacy Policy
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>