<div class="modal-change-pass modal-delete">
    <div class="modal-header">
        <div class="icon-change"><i class="icons-remove-mess"></i></div>
    </div>
    <div class="modal-body">
        <div class="main">
            <div class="content ">
                <h3>DELETE COMMENT</h3>
                <div class="text">Are you sure you want to <b>DELETE</b> this comment ?</div>
                <div class="group">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="remove()">Delete</button>
                    <button type="button" class="btn btn-sm btn-default btn-cancel" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>