<div class="email-confirm">
    <div class="email-top">
        <nav class="navbar navbar-default">
            <div class="nav-menu">
                <ul class="nav navbar-nav">
                    <li class="col-xs-4">
                        <i class="fa fa-envelope-square" aria-hidden="true"></i>
                        <a ui-sref="login.forget-password.confirm-email"><span>1. Confirm email</span></a>
                    </li>
                    <li class="active col-xs-4">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <span>2. Reset password</span>
                    </li>
                    <li class="col-xs-4">
                        <i class="icon-complete" aria-hidden="true"></i>
                        <span>3. Complete</span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="email-main">
        <div class="form-email">
            <div class="intro">
                Enter <span>Reset code</span>, Create your <span>new Password</span><br>
                and <span>Confirm</span> to reset
            </div>
            <form role="form" name="frmResetPassword" ng-submit="resetPass()">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>NEW PASSWORD</label>
                        <input type="password" class="form-control" placeholder="Type your password" name="password" equals="{{ pass.confirmPassword}}" ng-model="pass.password" required>
                    </div>
                    <div class="form-group">
                        <label>CONFIRM PASSWORD</label>
                        <input type="password" class="form-control" placeholder="Confirm password" name="confirmPassword" equals="{{ pass.password}}" ng-model="pass.confirmPassword" required>
                    </div>
                </div>
                <div class="form-group btn-confirm">
                    <button type="submit" class="btn btn-default" ng-disabled="frmResetPassword.$invalid">RESET</button>
                </div>
            </form>
        </div>
    </div>
</div>