<form role="form" class="frm-catalogues">
    <div class="categories-input-form">
        <div class="form-group input-catalogues">
            <input tabindex="1" class="form-control" name="phone-number" type="text" placeholder="Phone Number"
                   ng-model="catalogues.phone" required>
            <div class="span-catalogue">
                <i class="fa fa-mobile" aria-hidden="true"></i>
            </div>
        </div>
        <div class="form-group input-catalogues">
            <input tabindex="2" class="form-control" name="email" type="text" placeholder="Email"
                   ng-model="catalogues.email" required>
            <div class="span-catalogue">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
        </div>
        <div class="form-group input-catalogues">
            <input tabindex="3" class="form-control" name="location" type="text" placeholder="Location"
                   ng-model="catalogues.location" required>
            <div class="span-catalogue">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
        </div>
        <div class="form-group input-catalogues">
            <input tabindex="4" class="form-control" name="name" type="text" placeholder="Name"
                   ng-model="catalogues.name" required>
            <div class="span-catalogue">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
        </div>

        <div class="btn-primary-pro pull-right">
            <button type="button" class="btn btn-pro-add btn-pro-add-cart" ng-click="send_now()">Send now</button>
        </div>

        <p>{{title.thanks}}</p>
    </div>
</form>